@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Poppins:wght@300&family=Roboto&display=swap");

body {
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    padding: 2rem;
    margin: 0px;
    font-family: "Poppins", "Roboto", "Lato", sans-serif;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.shadow-container {
    box-shadow: 2px 4px 3px #e9e9e9;
}

.guess-input {
    border-bottom: 2px solid #d3d6da;
    padding: 1rem;
    width: 400px;
    margin: auto;
}

#board {
    padding: 1rem;
    border-top: 0;
    width: 400px;
    margin: auto;
    transition: 0.2s ease-in;
}

.guess {
    margin: 0.125rem;
    width: 62px;
    height: 62px;
    border: 2px solid #d3d6da;
    box-shadow: 1px 2px 2px #e9e9e9;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.guessLetter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

#remaining-guesses > h4 {
    margin: 0.75rem;
    font-weight: 500;
}

#info,
#warning {
    padding: 1rem;
    padding-top: 0;
    font-size: 0.9rem;
    text-align: center;
}

#reset-btn,
#modal-reset {
    width: 70%;
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    background-color: #fff;
    border: 2px solid #d3d6da;
    font-family: "Poppins", "Roboto", "Lato", sans-serif;
    box-shadow: 1px 2px 2px #e9e9e9;
    letter-spacing: 2px;
}

#reset-btn:hover,
#modal-reset:hover {
    cursor: pointer;
}

.match {
    background-color: #538d4e !important;
}

.partial-match {
    background-color: #b59f3b !important;
}

.no-match {
    background-color: #3a3a3c !important;
}

#main-game-input {
    font-size: 1.5rem;
    border: none;
    letter-spacing: 0.1em;
    text-align: center;
}

#main-game-input:focus {
    border: none;
    outline: none;
    text-align: center;
}
#main-game-input:disabled {
    border: none;
    outline: none;
    text-align: center;
    background-color: #fff;
}

.container {
    width: 70%;
    margin: auto;
}

.row {
    display: flex;
    align-items: center;
}

.justify-center {
    justify-content: center;
}
.justify-around {
    justify-content: space-around;
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.upper-case {
    text-transform: uppercase;
}
.borderless {
    border: none !important;
}
.border-match {
    border: 2px solid #538d4e !important;
}
.border-partial-match {
    border: 2px solid #b59f3b !important;
}
.border-no-match {
    border: 2px solid #3a3a3c !important;
}
#correct-answers {
    font-size: 1rem;
    color: #538d4e !important;
    width: 200px;
    min-width: 200px;
    margin: 1rem;
}
#partial {
    font-size: 1rem;
    color: #b59f3b !important;
    width: 200px;
    min-width: 200px;
    margin: 1rem;
}
#no {
    width: 77%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1rem;
    color: #3a3a3c;
    min-width: 200px;
    margin: 1rem;
    background-color: #fff;
    padding: 0.5rem 1rem;
    text-transform: capitalize;
    border: 2px solid #d3d6da;
    box-shadow: 1px 2px 2px #e9e9e9;
}

.strike {
    text-decoration: line-through;
    text-decoration-color: #e55b5b;
    text-transform: uppercase !important;
    font-size: 2rem;
    padding: 0 0.25rem;
    display: inline-flex;
}

.animated {
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.modal {
    /* Hidden by default */
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    text-align: center;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid #d3d6da;
    width: 260px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #d3d6da;
    float: right;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 0 0 black;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.pyro > .before,
.pyro > .after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
        0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
        0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
        0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
        0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
        0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
        0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
        0 0 #fff, 0 0 #fff, 0 0 #fff;
    -moz-animation: 1s bang ease-out infinite backwards,
        1s gravity ease-in infinite backwards,
        5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards,
        1s gravity ease-in infinite backwards,
        5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards,
        1s gravity ease-in infinite backwards,
        5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards,
        1s gravity ease-in infinite backwards,
        5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards,
        1s gravity ease-in infinite backwards,
        5s position linear infinite backwards;
}

.pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
    to {
        box-shadow: -14px -366.6666666667px #0066ff,
            248px -53.6666666667px #00ffc8, -247px -326.6666666667px #5900ff,
            33px -243.6666666667px #ff0033, -192px -97.6666666667px #ff00a6,
            151px -14.6666666667px #f7ff00, -152px -64.6666666667px #b7ff00,
            82px -221.6666666667px #66ff00, 242px -276.6666666667px #bbff00,
            -21px -362.6666666667px #0062ff, -92px 12.3333333333px #ff0033,
            -173px -224.6666666667px #00f2ff, -101px 32.3333333333px #b300ff,
            -130px -22.6666666667px #00ff2f, -125px -146.6666666667px #99ff00,
            159px 62.3333333333px #ffd500, 220px -405.6666666667px #ff3700,
            101px -18.6666666667px #00ff84, 123px 52.3333333333px #0d00ff,
            -31px -175.6666666667px #ffbf00, -8px 58.3333333333px #c800ff,
            59px -210.6666666667px #0dff00, -237px -337.6666666667px #ff008c,
            103px -317.6666666667px #00ff04, 234px -295.6666666667px #26ff00,
            -111px -151.6666666667px #00ff3c, 6px 37.3333333333px #0066ff,
            182px -127.6666666667px #62ff00, 80px -61.6666666667px #ff00d0,
            -50px -380.6666666667px #00f7ff, 205px -89.6666666667px #dd00ff,
            9px 52.3333333333px #00fbff, -47px -264.6666666667px #ccff00,
            101px -188.6666666667px #00ff37, -24px -149.6666666667px #00aeff,
            -70px -220.6666666667px #00ff09, -10px -246.6666666667px #ffaa00,
            -26px -167.6666666667px #00ff91, -42px -114.6666666667px #00ff73,
            -30px -48.6666666667px #ffea00, 54px -64.6666666667px #f2ff00,
            229px -334.6666666667px #ff1500, 246px -43.6666666667px #1a00ff,
            91px -70.6666666667px #5eff00, -183px -205.6666666667px #00b3ff,
            -245px -333.6666666667px #ff1e00, -138px -13.6666666667px #00ff77,
            144px -319.6666666667px #00ff66, -221px -397.6666666667px #007bff,
            183px -231.6666666667px #ea00ff, 145px -228.6666666667px #f7ff00;
    }
}
@-moz-keyframes bang {
    to {
        box-shadow: -14px -366.6666666667px #0066ff,
            248px -53.6666666667px #00ffc8, -247px -326.6666666667px #5900ff,
            33px -243.6666666667px #ff0033, -192px -97.6666666667px #ff00a6,
            151px -14.6666666667px #f7ff00, -152px -64.6666666667px #b7ff00,
            82px -221.6666666667px #66ff00, 242px -276.6666666667px #bbff00,
            -21px -362.6666666667px #0062ff, -92px 12.3333333333px #ff0033,
            -173px -224.6666666667px #00f2ff, -101px 32.3333333333px #b300ff,
            -130px -22.6666666667px #00ff2f, -125px -146.6666666667px #99ff00,
            159px 62.3333333333px #ffd500, 220px -405.6666666667px #ff3700,
            101px -18.6666666667px #00ff84, 123px 52.3333333333px #0d00ff,
            -31px -175.6666666667px #ffbf00, -8px 58.3333333333px #c800ff,
            59px -210.6666666667px #0dff00, -237px -337.6666666667px #ff008c,
            103px -317.6666666667px #00ff04, 234px -295.6666666667px #26ff00,
            -111px -151.6666666667px #00ff3c, 6px 37.3333333333px #0066ff,
            182px -127.6666666667px #62ff00, 80px -61.6666666667px #ff00d0,
            -50px -380.6666666667px #00f7ff, 205px -89.6666666667px #dd00ff,
            9px 52.3333333333px #00fbff, -47px -264.6666666667px #ccff00,
            101px -188.6666666667px #00ff37, -24px -149.6666666667px #00aeff,
            -70px -220.6666666667px #00ff09, -10px -246.6666666667px #ffaa00,
            -26px -167.6666666667px #00ff91, -42px -114.6666666667px #00ff73,
            -30px -48.6666666667px #ffea00, 54px -64.6666666667px #f2ff00,
            229px -334.6666666667px #ff1500, 246px -43.6666666667px #1a00ff,
            91px -70.6666666667px #5eff00, -183px -205.6666666667px #00b3ff,
            -245px -333.6666666667px #ff1e00, -138px -13.6666666667px #00ff77,
            144px -319.6666666667px #00ff66, -221px -397.6666666667px #007bff,
            183px -231.6666666667px #ea00ff, 145px -228.6666666667px #f7ff00;
    }
}
@-o-keyframes bang {
    to {
        box-shadow: -14px -366.6666666667px #0066ff,
            248px -53.6666666667px #00ffc8, -247px -326.6666666667px #5900ff,
            33px -243.6666666667px #ff0033, -192px -97.6666666667px #ff00a6,
            151px -14.6666666667px #f7ff00, -152px -64.6666666667px #b7ff00,
            82px -221.6666666667px #66ff00, 242px -276.6666666667px #bbff00,
            -21px -362.6666666667px #0062ff, -92px 12.3333333333px #ff0033,
            -173px -224.6666666667px #00f2ff, -101px 32.3333333333px #b300ff,
            -130px -22.6666666667px #00ff2f, -125px -146.6666666667px #99ff00,
            159px 62.3333333333px #ffd500, 220px -405.6666666667px #ff3700,
            101px -18.6666666667px #00ff84, 123px 52.3333333333px #0d00ff,
            -31px -175.6666666667px #ffbf00, -8px 58.3333333333px #c800ff,
            59px -210.6666666667px #0dff00, -237px -337.6666666667px #ff008c,
            103px -317.6666666667px #00ff04, 234px -295.6666666667px #26ff00,
            -111px -151.6666666667px #00ff3c, 6px 37.3333333333px #0066ff,
            182px -127.6666666667px #62ff00, 80px -61.6666666667px #ff00d0,
            -50px -380.6666666667px #00f7ff, 205px -89.6666666667px #dd00ff,
            9px 52.3333333333px #00fbff, -47px -264.6666666667px #ccff00,
            101px -188.6666666667px #00ff37, -24px -149.6666666667px #00aeff,
            -70px -220.6666666667px #00ff09, -10px -246.6666666667px #ffaa00,
            -26px -167.6666666667px #00ff91, -42px -114.6666666667px #00ff73,
            -30px -48.6666666667px #ffea00, 54px -64.6666666667px #f2ff00,
            229px -334.6666666667px #ff1500, 246px -43.6666666667px #1a00ff,
            91px -70.6666666667px #5eff00, -183px -205.6666666667px #00b3ff,
            -245px -333.6666666667px #ff1e00, -138px -13.6666666667px #00ff77,
            144px -319.6666666667px #00ff66, -221px -397.6666666667px #007bff,
            183px -231.6666666667px #ea00ff, 145px -228.6666666667px #f7ff00;
    }
}
@-ms-keyframes bang {
    to {
        box-shadow: -14px -366.6666666667px #0066ff,
            248px -53.6666666667px #00ffc8, -247px -326.6666666667px #5900ff,
            33px -243.6666666667px #ff0033, -192px -97.6666666667px #ff00a6,
            151px -14.6666666667px #f7ff00, -152px -64.6666666667px #b7ff00,
            82px -221.6666666667px #66ff00, 242px -276.6666666667px #bbff00,
            -21px -362.6666666667px #0062ff, -92px 12.3333333333px #ff0033,
            -173px -224.6666666667px #00f2ff, -101px 32.3333333333px #b300ff,
            -130px -22.6666666667px #00ff2f, -125px -146.6666666667px #99ff00,
            159px 62.3333333333px #ffd500, 220px -405.6666666667px #ff3700,
            101px -18.6666666667px #00ff84, 123px 52.3333333333px #0d00ff,
            -31px -175.6666666667px #ffbf00, -8px 58.3333333333px #c800ff,
            59px -210.6666666667px #0dff00, -237px -337.6666666667px #ff008c,
            103px -317.6666666667px #00ff04, 234px -295.6666666667px #26ff00,
            -111px -151.6666666667px #00ff3c, 6px 37.3333333333px #0066ff,
            182px -127.6666666667px #62ff00, 80px -61.6666666667px #ff00d0,
            -50px -380.6666666667px #00f7ff, 205px -89.6666666667px #dd00ff,
            9px 52.3333333333px #00fbff, -47px -264.6666666667px #ccff00,
            101px -188.6666666667px #00ff37, -24px -149.6666666667px #00aeff,
            -70px -220.6666666667px #00ff09, -10px -246.6666666667px #ffaa00,
            -26px -167.6666666667px #00ff91, -42px -114.6666666667px #00ff73,
            -30px -48.6666666667px #ffea00, 54px -64.6666666667px #f2ff00,
            229px -334.6666666667px #ff1500, 246px -43.6666666667px #1a00ff,
            91px -70.6666666667px #5eff00, -183px -205.6666666667px #00b3ff,
            -245px -333.6666666667px #ff1e00, -138px -13.6666666667px #00ff77,
            144px -319.6666666667px #00ff66, -221px -397.6666666667px #007bff,
            183px -231.6666666667px #ea00ff, 145px -228.6666666667px #f7ff00;
    }
}
@keyframes bang {
    to {
        box-shadow: -14px -366.6666666667px #0066ff,
            248px -53.6666666667px #00ffc8, -247px -326.6666666667px #5900ff,
            33px -243.6666666667px #ff0033, -192px -97.6666666667px #ff00a6,
            151px -14.6666666667px #f7ff00, -152px -64.6666666667px #b7ff00,
            82px -221.6666666667px #66ff00, 242px -276.6666666667px #bbff00,
            -21px -362.6666666667px #0062ff, -92px 12.3333333333px #ff0033,
            -173px -224.6666666667px #00f2ff, -101px 32.3333333333px #b300ff,
            -130px -22.6666666667px #00ff2f, -125px -146.6666666667px #99ff00,
            159px 62.3333333333px #ffd500, 220px -405.6666666667px #ff3700,
            101px -18.6666666667px #00ff84, 123px 52.3333333333px #0d00ff,
            -31px -175.6666666667px #ffbf00, -8px 58.3333333333px #c800ff,
            59px -210.6666666667px #0dff00, -237px -337.6666666667px #ff008c,
            103px -317.6666666667px #00ff04, 234px -295.6666666667px #26ff00,
            -111px -151.6666666667px #00ff3c, 6px 37.3333333333px #0066ff,
            182px -127.6666666667px #62ff00, 80px -61.6666666667px #ff00d0,
            -50px -380.6666666667px #00f7ff, 205px -89.6666666667px #dd00ff,
            9px 52.3333333333px #00fbff, -47px -264.6666666667px #ccff00,
            101px -188.6666666667px #00ff37, -24px -149.6666666667px #00aeff,
            -70px -220.6666666667px #00ff09, -10px -246.6666666667px #ffaa00,
            -26px -167.6666666667px #00ff91, -42px -114.6666666667px #00ff73,
            -30px -48.6666666667px #ffea00, 54px -64.6666666667px #f2ff00,
            229px -334.6666666667px #ff1500, 246px -43.6666666667px #1a00ff,
            91px -70.6666666667px #5eff00, -183px -205.6666666667px #00b3ff,
            -245px -333.6666666667px #ff1e00, -138px -13.6666666667px #00ff77,
            144px -319.6666666667px #00ff66, -221px -397.6666666667px #007bff,
            183px -231.6666666667px #ea00ff, 145px -228.6666666667px #f7ff00;
    }
}
@-webkit-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@-moz-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@-o-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@-ms-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@-webkit-keyframes position {
    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
@-moz-keyframes position {
    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
@-o-keyframes position {
    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
@-ms-keyframes position {
    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
@keyframes position {
    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
